@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./fonts.scss";
@import "./animation.scss";

body,
html {
  @apply text-[16px] font-quicksand scroll-smooth transition-all ease-in-out bg-[#f4f4f4];
}

h1,
h2,
h3 {
  @apply font-sf-pro;
}

.container {
  @apply w-full md:w-[90%] xl:w-[1000px] px-5 md:px-0;
}

.kp-btn {
  @apply relative text-primary py-2 px-5 font-bold text-center cursor-pointer bg-white border-primary;
  cursor: pointer;
  border: 3px solid;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
  box-shadow: 5px 5px 0 0 black;
}

/* On active press down the button */
.kp-btn:active {
  transform: translateY(5px);
  box-shadow: 0 0 0 0 black;
}

/* Add the distinctive corner cuts */
.kp-btn::before,
.kp-btn::after {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  width: 10px;
  background-color: white;
  border-left: none;
  border-right: none;
  z-index: 1;
}

.kp-btn::before {
  left: 0;
  border-top: none;
}

.kp-btn::after {
  right: 0;
  border-bottom: none;
}

.kp-btn-disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.kp-input {
  @apply border-2 border-gray-400 focus:outline-none focus:border-primary px-3 w-full h-11;
}

// Date Picker
.dp__input_wrap {
  .dp__input {
    @apply border-2 border-gray-400 focus:outline-none focus:border-primary px-3 w-full h-11 rounded-none;
  }
  .dp__input_icon {
    right: 0;
    inset-inline-end: 0;
    inset-inline-start: unset;
  }
  .dp__clear_icon {
    background-color: #fff;
    inset-inline-end: 1%;
  }
  .dp__input_focus {
    @apply border-primary;
  }
}

.dp__outer_menu_wrap {
  top: 120% !important;
  .dp__arrow_top {
    top: 0 !important;
    bottom: 100% !important;
    border-inline-end: 1px solid var(--dp-menu-border-color) !important;
    border-top: 1px solid var(--dp-menu-border-color) !important;
    transform: translate(-50%, -50%) rotate(-45deg) !important;
  }
  .dp__instance_calendar .dp__menu_inner {
    .dp__calendar {
      .dp__today {
        @apply border-secondary;
        border-radius: 0px;
      }
      .dp__active_date {
        @apply bg-secondary;
        border-radius: 0px;
      }
    }
  }
  .dp__action_row {
    .dp__action_buttons {
      .dp__action_select {
        @apply bg-secondary;
      }
    }
  }
}

.dp__arrow_bottom {
  border-inline-end: 1px solid var(--dp-menu-border-color) !important;
  border-bottom: transparent !important;
  border-top: 1px solid var(--dp-menu-border-color) !important;
  transform: translate(-50%, -50%) rotate(-45deg) !important;
  top: 0 !important;
  bottom: 100% !important;
}
